.list-group a:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.list-group a {
    /* width: 120px; */
    background-color: #fff;
    box-shadow: 0 0 2px #d2d2d2;
    border-radius: 6px;
}


.list-group-item i {
    font-size: larger;
    color: grey;
    cursor: pointer;
}


.list-group-item span {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}

.list-group p {
    font-size: 14px;
    font-weight: 500;
    color: grey;
}